* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
button,
span {
    font-family: 'Big Shoulders Display', serif;
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 70px;

}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 300;
}

button {
    font-weight: 700;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3.64px;
}

/* BUTTON 1 */

.button-1 {
    display: flex;
    padding: 32px 0 0 0;
}

.button-1 button {
    padding: 24px;
    background-color: #000;
}

.button-1 button:hover {
    background-color: #D5966C;
}

.right-arrow {
    padding: 24px 28px;
    background-color: #D5966C;
    background-image: url(../starter-code/assets/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 50%;
}

.right-arrow:hover {
    background-color: #000;
}

/* END BUTTON 1 */

/* ---------------------------HEADER------------------------------- */

/* MOBILE */

.container {
    margin-left: 16px;
}


#mobile-img {
    width: 100%;
}

#tablet-img,
#desktop-img {
    display: none;
}

.container-content h1 {
    font-size: 60px;
    padding: 16px 0;
}

.container-content p {
    padding: 16px 16px 0 0;
}

.container-content button {
    background-color: #000;
    width: 228px;
}


/* TABLET */

@media screen and (min-width: 751px) {

    #mobile-img,
    #desktop-img {
        display: none;
    }

    #tablet-img {
        display: block;
    }

    .container-flex {
        display: flex;
        position: relative;
        align-items: center;
    }

    .container {
        position: absolute;
        width: 22rem;
        margin-left: 25rem;
    }

}

/* DESKTOP */

@media screen and (min-width: 1200px) {

    #tablet-img {
        display: none;
    }

    #desktop-img {
        display: block;
        background-color: #000;
        padding-left: 450px;
    }

    .container {
        margin-left: 165px;
        margin-bottom: 189px;
        width: 82%;

    }

    .container-content {
        display: flex;
        width: 90%;
        margin-top: 5rem;
    }

    .container-content h1 {
        font-size: 96px;
        padding: 0;
        width: 100%;
        color: #fff;
    }

    .container-left .modern {
        background: linear-gradient(to right, #fff 94%, #000 0%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .container-left span {
        font-family: 'Big Shoulders Display', serif;
        color: #000;
        background: linear-gradient(to right, #fff 0%, #000 0%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .desktop-text-button {
        width: 52%;
        margin-left: 9rem;

    }

    .desktop-text-button p {
        font-size: 22px;
    }

    .button-1 {
        padding-top: 64px;
    }
}

/* ---------------------------SECTION------------------------------ */

.section-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 16px;
}

.section-container h2 {
    font-weight: 900;
    font-size: 50px;
}

#mobile-grid-1 {
    padding-top: 120px;
}

#tablet-grid-1,
#desktop-grid-1 {
    display: none;
}

.section-text {
    padding: 25px 0;
}

.section-text p {
    font-weight: 300;
    padding-top: 21px;
}

@media screen and (min-width: 751px) {
    .section-container {
        flex-direction: row;
        align-items: center;
    }

    .section-text {
        margin-right: 68px;
        margin-top: 9rem;
        margin-left: 18px;
        padding: 0;
    }

    .section-text h2 {
        padding-right: 6px;
        line-height: 1;
    }


    #tablet-grid-1 {
        padding-top: 120px;
        display: block;
        width: 398px;
    }

    #mobile-grid-1,
    #desktop-grid-1 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    .section-container {
        margin: 0 164px;
    }

    .section-text {
        margin-top: 6rem;
        margin-right: 125px;
    }

    #desktop-grid-1 {
        padding-top: 120px;
        display: block;
        width: 635px;
    }

    #tablet-grid-1 {
        display: none;
    }


}

/* ---------------------------GRID------------------------------ */

#mobile-grid-2,
#mobile-grid-3 {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
}

#tablet-grid-2,
#desktop-grid-2,
#tablet-grid-3,
#desktop-grid-3 {
    display: none;
}

.cta {
    width: 343px;
    background-color: #000;
    margin: 0 auto;
    color: #fff;
    padding: 47px 24px;
}

.cta h1 {
    font-size: 50px;
}

.cta p {
    padding-top: 24px;
}

@media screen and (min-width: 751px) {

    #tablet-grid-2 {
        display: block;
        width: 100%;
    }

    #tablet-grid-3 {
        width: 100%;
        display: block;
        padding: 0 0 11px 0;

    }

    #mobile-grid-2,
    #desktop-grid-2,
    #mobile-grid-3,
    #desktop-grid-3 {
        display: none;
    }

    .grid-container {
        display: flex;
        justify-content: center;
        margin: 11px 16px;
    }

    .grid {
        padding-left: 11px;
    }

    .cta {
        width: 100%;
        margin: 0;
        padding: 85px 29px;
    }
}

@media screen and (min-width: 1200px) {

    #desktop-grid-2,
    #desktop-grid-3 {
        display: block;
        width: 100%;
    }

    #mobile-grid-2,
    #tablet-grid-2,
    #mobile-grid-3,
    #tablet-grid-3 {
        display: none;
    }

    .grid-container {
        margin: 30px 164px 0 164px;
    }

    .cta {
        margin-top: 30px;
    }

    .cta h1 {
        font-size: 60px;
    }

    .cta p {
        font-size: 22px;
    }

}

/* ---------------------------FOOTER------------------------------ */

footer {
    background-color: #000;
    color: #fff;
    margin-top: 168px;
}

.footer-txt {
    padding: 48px 32px;
}

.footer-txt h4 {
    font-size: 25px;
    line-height: 1;
}

.footer-txt p {
    font-size: 16px;
    font-weight: 300;
    padding: 38px 0;
}

.fa-xl {
    padding-right: 20px;
}

@media screen and (min-width: 751px) {
    .footer-txt {
        display: flex;
        padding: 56px 40px;
    }

    .footer-txt h4 {
        width: 65%;
        padding-bottom: 55px;
    }

    .footer-txt p {
        padding: 0;
        width: 100%;
        padding-right: 7rem;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    .fa-xl {
        padding-top: 0.8rem;
        padding-right: 20px;
    }

}

@media screen and (min-width: 1200px) {
    .footer-txt {
        margin: 0 120px;
    }

    .footer-txt p {
        padding-right: 19rem;
    }
}