* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1, h2, h3, h4, button {
    font-family: 'Big Shoulders Display', serif;
}

h1 {
    font-size: 96px;
    font-weight: 900;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
}

button {
    font-weight: 700;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3.64px;
}

/* BUTTON 1 */

.button-1 {
    display: flex;
    padding: 32px 0 0 0;
}

.button-1 button {
    padding: 24px;
    background-color: #000;
}

.button-1 button:hover {
    background-color: #D5966C;
}

.right-arrow {
    padding: 24px 28px;
    background-color: #D5966C;
    background-image: url(../starter-code/assets/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 50%;
}

.right-arrow:hover {
    background-color: #000;
}

/* END BUTTON 1 */

/* ---------------------------HEADER------------------------------- */

/* MOBILE */

.container {
    margin-left: 16px;
}


#mobile-img {
    width: 100%;
}

#tablet-img {
    display: none;
}

#desktop-img {
    display: none;
}

.container-content h1 {
font-size: 60px;
padding: 16px 0;
}

.container-content p {
    padding: 16px 16px 0 0;
}

.container-content button {
    background-color: #000;
    width: 228px;
}


/* TABLET */

@media screen and (min-width: 751px) {

    #mobile-img {
        display: none;
    }
    
    #tablet-img {
        display: block;
    }
    
    #desktop-img {
        display: none;
    }

    .container-flex {
        display: flex;
        position: relative;
        align-items: center;
    }

    .container {
        position: absolute;
        width: 22rem;
        margin-left: 25rem;
    }
    
}

/* DESKTOP */

@media screen and (min-width: 1439px) {
    
    .container-content {
        border: 2px solid blue;
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

    }


    .container-content h1 {
        font-size: 96px;
        padding: 0;
    }
    
    #tablet-img {
        display: none;
    }
    
    #desktop-img {
        display: block;
        background-color: grey;
        padding-left: 450px;
    }

    .desktop-text-button {
        border: 2px solid red;
        position: absolute;
        margin-left: 1%;
    }
}

/* ---------------------------SECTION------------------------------ */










