* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1, h2, h3, h4, button {
    font-family: 'Big Shoulders Display', serif;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.8;
}

button {
    font-weight: 700;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3.64px;
}


/* MOBILE */

.container-content {
 padding: 0 16px;
}

.container img {
    width: 100%;
}

.container-content h1 {
font-size: 60px;
padding: 24px 0;
font-weight: 900;
}

.content-content p {
    padding: 32px 0;
}

.container-content button {
    background-color: #000;
    width: 228px;
}

/* BUTTON 1 */

.button-1 {
    display: flex;
    padding: 32px 0 120px 0;
}

.button-1 button {
    padding: 24px;
}

.button-1 button:hover {
    background-color: #D5966C;
    cursor: pointer;
}

.right-arrow {
    padding: 36px 28px;
    background-color: #D5966C;
    background-image: url(../starter-code/assets/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 50%;
}

.right-arrow:hover {
    background-color: #000;
    cursor: pointer;
}






